.textClient {
    height: 100%;
    padding: 4px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.apMessages {
    overflow-y: scroll;
    min-height: 100%;
    list-style: none;
    padding-inline-start: 0;
}

.apMessages li {
    border: 1px dotted;
}

.hintsTextArea {
    resize: none;
    flex: 1;
    box-sizing: border-box;

    color: var(--scheme-text);
    background: var(--scheme-background);
}
