.locationGroupHeader {
    user-select: none;
    display: flex;
    flex-flow: row nowrap;
    font-size: 1.75rem;

    &.droppable {
        background-color: color-mix(in srgb, #0d6efd 20%, transparent);
    }

    &.droppableHover {
        background-color: color-mix(in srgb, #0d6efd 40%, transparent);
    }

    .name {
        flex: 1 1 auto;
    }

    .hint {
        flex: 0 0 45px;
        text-align: center;
        margin-left: auto;
        display: flex;

        img {
            margin: auto;
            height: 40px;
        }

        &.preview {
            opacity: 0.5;
        }
    }

    .counter {
        flex: 0 0 10%;
        margin-left: auto;
        &.align {
            text-align: right;
        }
    }
}
